body {
  background-image: url("https://fthmb.tqn.com/bhT7GFbij-dUR_cigoShSlOk9eo=/3024x2016/filters:fill(auto,1)/television-static-kyoshino-e-plus-getty-images-56a6fae25f9b58b7d0e5d1c3.jpg");
  font-family: 'Montserrat', sans-serif;
}

canvas {
  display: block;
}

h1 {
  background-color: rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
}

h2 {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

h3 {
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
}

p {
  background-color: rgb(0, 0, 0);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-end;
  padding: 20px;
}

.item {
  background-color: 'White';
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

iframe {
  border: none;
}
