body {
  background-image: url("https://giffiles.alphacoders.com/820/820.gif");
  font-family: 'Montserrat', sans-serif;
}

canvas {
  display: block;
}

h1 {
  background-color: rgb(0, 0, 0);
  font-size: 40px;
  text-align: center;
}

h2 {
  background-color: rgb(0, 0, 0);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

h3 {
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
}

p {
  background-color: rgb(0, 0, 0);
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: flex-start;
}

.item {
  background-color: 'White';
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

iframe {
  border: none;
}
