body {
   background-image: url("https://forum.borisfx.com/uploads/default/original/2X/7/782fbb745e0d7b7eb98335fa884d212db5837f19.gif");
  font-family: 'Montserrat', sans-serif;
}

canvas {
  display: block;
}

h1 {
  font-size: 40px;
  text-align: center;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  background-color: rgb(0, 0, 0);
  font-size: 20px;
  text-align: center;
}

p {
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 20px;
}

.item {
  background-color: 'White';
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  order: 3;
}

iframe {
  border: none;
}

.container2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
