body {
  background: url("https://cdn.wallpapersafari.com/45/19/Q2nJCP.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
}

p {
  background-color: rgb(8, 8, 8);
  font-size: 20px;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

h2 {
  font-size: 20px;
  text-align: center;
}

h3 {
  font-size: 20px;
  text-align: center;
}
